<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RedCorners" version="4.0.0" targetFramework="net472" />
  <package id="RedCorners.Forms" version="4.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.220655" targetFramework="net472" />
</packages>